#section5 {
  font-size: 62.5%;
  background-image: url('/background1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  height: 100vh
}
