#section2 {
    font-size: 62.5%;
    background-image: url('/background1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh
}

.carouselTitle  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}

.carouselTitle p {
    margin-top: 1rem;
}

.carouselContent {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}

.inner {
    display: flex;
}

.item {
    min-height: 200px;
    min-width: 210px;
    padding: 14px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}


@media (min-width: 700px) {
    .carouselContent {
        max-width: 640px;
    }
}







